<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656233033461-1ntv6lci409g273rmru87qquirqq1uro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656233033461-1ntv6lci409g273rmru87qquirqq1uro</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>656233033461-0psv12jk151bv0es1m8og6e35tpr8to0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_oa6OnlimIROhDdWbNZiPwtU6q7TssMM</string>
	<key>GCM_SENDER_ID</key>
	<string>656233033461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.mule.grocerymule</string>
	<key>PROJECT_ID</key>
	<string>grocerymule-51aab</string>
	<key>STORAGE_BUCKET</key>
	<string>grocerymule-51aab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656233033461:ios:a73d738e16de7a660fdfbc</string>
</dict>
</plist>